rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /members/{memberId} {
      allow read: if true;
      allow write: if true;
    }
    match /sessions/{sessionId} {
      allow read: if true;
      allow write: if true;
    }
    match /bookings/{bookingId} {
      allow read: if true;
      allow write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
